@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

[data-dialogo-modal] {
  --y-from: 0%;
  --y-to: 0%;

  --opacity-from: 1;
  --opacity-to: 1;

  --scale-from: 0.95;
  --scale-to: 1;
}

@media screen and (max-width: 480px) {
  [data-dialogo-modal] {
    --y-from: 100%;
    --y-to: 0%;

    --opacity-from: 1;
    --opacity-to: 1;

    --scale-from: 1;
    --scale-to: 1;
  }
}
